<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senha Alterada</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
    <link rel="icon" href="{% static 'images/icon.png'' %}" type="image/icon.png'">
</head>
<body>
    <div class="container">
        <h2>Senha Alterada com Sucesso</h2>
        <p>Sua senha foi alterada com sucesso. Você pode agora <a href="{% url 'login' %}"> voltar para o login </a>.</p> {% csrf_token %}
    </div>
</body>
</html>
