<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Concluído</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cadastro_sucesso.css' %}">
    <link rel="icon" href="{% static 'images/icon.png'' %}" type="image/icon.png'">
</head>
<body>
    <div class="container"> {% csrf_token %}
        <h1>Cadastro Concluído</h1>
        <p>Seu cadastro foi realizado com sucesso!</p>
        <a href="{% url 'login' %}">Faça login para continuar</a>
    </div>
</body>
</html>
